<html xmlns:th="www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>


				<form th:action="@{/form}" th:object="${cliente}" method="POST" enctype="multipart/form-data">

					<div class="form-group">
						<label class="col-sm-2 col-form-label">Nome</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field=*{nome}
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></small>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-form-label">Sobrenome</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field=*{sobrenome}
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('sobrenome')}"
								th:errors="*{sobrenome}"></small>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-form-label">E-mail</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field=*{email}
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-form-label">Data</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field=*{dataCriacao}
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('dataCriacao')}"
								th:errors="*{dataCriacao}"></small>
						</div>
					</div>
					
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control">
						</div> 
					</div>
					
					
					
					
					<input type="submit" value="Salvar Cliente" class="btn btn-primary" />
					<input type="hidden" th:field="*{id}" />
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>