<html xmlsns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
		<a class="navbar-brand" href="#">Spring Boot</a>
		<button class="navbar-toggler" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Clientes</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h2 class="text-secondary border-bottom border-danger" th:text="${titulo}"></h2>
		<p><a class="btn btn-link btn-xs" th:href="@{/form}">Adicionar Cliente</a></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>E-mail</th>
					<th>Data</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.sobrenome}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.dataCriacao}"></td>
					<td> <a class="btn btn-link btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
					<td> <a class="btn btn-link btn-xs" th:href="@{/deletar/} + ${cliente.id}" th:text="'Excluir'"
					onClick = "return confirm('Confirmar exclusao?')"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container">
		<hr>
		<!-- <img th:src="@{/images/springlogo.png}" width="200" height="150"> -->
		<footer>
			<p>&copy; Company 2017</p>
		</footer>
	</div>
	
</body>
</html>