<html xmlsns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">
		<div class="card bg-light">

			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a class="btn btn-link btn-xs" th:href="@{/form}">Adicionar Cliente</a>
				</h4>
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Sobrenome</th>
							<th>E-mail</th>
							<th>Data</th>
							<th>Fatura</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td><a th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nome}"></td>
							<td th:text="${cliente.sobrenome}"></td>
							<td th:text="${cliente.email}"></td>
							<td th:text="${cliente.dataCriacao}"></td>
							<td><a class="btn btn-link btn-xs" th:href="@{'/fatura/form/' + ${cliente.id}}">Fatura</a></td>
							
							<td><a class="btn btn-link btn-xs"
								th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a></td>
							<td><a class="btn btn-link btn-xs"
								th:href="@{/deletar/} + ${cliente.id}" th:text="'Excluir'"
								onClick="return confirm('Confirmar exclusao?')"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>